.modal-backdrop { 
			position: relative;
		}
#API {
	background:#eee;
	.fs-logo {
		height: 45px;
		width:150px;
		display: inline-block;
		float:left;
		img {width:100%;}
	}
	// .form-group {
		
	// 	float: left;
	// 	position: relative;
	// }
	// .form-control {
	// 	width: 200px;
 //    	margin-left: 10px;
	// }
	.fs-margin-top {
		margin-top: 20px;
	}
	// .btn {
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// }
	.modal-change {
		.form-group {
			input {
				width:80%;
			}
		}
		.btn {
			width:25%;
		}
	}
	#giohang {
		.modal-dialog {
			width:850px;
		}
		.modal-header {

			h4 {
				text-align:center;
				font-size:20px;
				text-transform: uppercase;
			}
		}
		.modal-shopping-change {
			.md-content {
				.md-img {
					width:100px;
				}
				.title {
					font-size:18px;
					padding-left:20px;
				}
				.md-pdtop50 {
					padding-top:50px;
				}
				.md-pdtop40 {
					padding-top:40px;
				}
				.md-total {
					height: 50px;
					text-align:center;
					font-size:16px;
					span.price {
						color: red;
						padding-left:20px;
					}
				}
				.md-pay {
					text-align:center;
				}
				.md-remove {
					padding-top:50px;
				}

			}
		}
	}
	
	.list-item {
		border:1px solid #ccc;
		padding-bottom:30px;
		margin-top:10px;
			.f-img {
				width:200px;
				margin: 0 auto;
				img{width:100%;}
			}
			.it-infor {
				text-align: center;
				padding-bottom: 20px;
				span{
					font-size:20px;
					text-overflow: capitalize;
				}
				.it-price {
					span {
						color:#036285;
						font-size:18px;
						text-overflow: capitalize;
					}
				}
			}
		.button-order {
			margin-left: 10px;
			text-align: center;
		    width: 45%;
		    height: 35px;
		    border: 1px solid #158aaf;
		    border-radius: 50px;
		    background: #158aaf;
		    display: inline-block;
		    cursor: pointer;
		    transition: all 0.5s;
		   	 a {
		    	line-height: 35px;
		    	font-size:14px;
		    	 color: #fff;
		    }
		    &:hover {
		    	background:#0e5c75;
		    	
		    }
		}
		.button-detail {
			text-align: center;
		    width: 45%;
		    height: 35px;
		    border: 1px solid #158aaf;
			cursor: pointer;
		    display: inline-block;
		    border-radius: 50px;
		    transition: all  1.0s;
		 
		   	 a {
		    	line-height: 35px;
		    	font-size:14px;
		    	 color: #158aaf;
		    }
		    &:hover {
		    	background:#0e5c75;
		    	
		    	a {
		    		color: #fff;
		    	}
		    }
		}	
	}

	.list-menu {
		li {
			position: relative;
			float: left;
			text-align:center;
			list-style: none;
			&:before {
				content: "";
				position: absolute;
			  	left: 50%;
				right: 50%;
				bottom: 0;
				background: #158aaf;
				height: 3px;	   
				transition-property: left,right;	   
				transition-duration: .3s;					   
				transition-timing-function: ease-out;				   
			}
			i {
				font-size:40px;
				display: block;
			}
			a{ 
				position: relative;
				display:block;
				color: #303030;
				font-size:14px;
				text-decoration: none;
				padding: 0px 15px 5px 15px;
				&:nth-child(1){

				}
			}
			&:hover {
				&:before {
						left: 0;
						right: 0;
				}
				i {color:#158aaf;}
			}
		}
	}
	.carousel {
		padding-top:35px;
		.carouse-next, .carouse-prev {
			&:hover {
				border-color: #158aaf;
				i {
					color: #158aaf;
				}
			}
		}
		.carouse-next {
			width: 40px;
		    height: 40px;
		    position: absolute;
		    right: 10px;
		    z-index: 1;
		    border: 1px solid #d1d1d1;
		    font-size: 30px;
		    color: #d1d1d1;
		    border-radius: 50%;
		    text-align: center;
		    top: 50%;
		    cursor:pointer;

		}
		.carouse-prev {
			width: 40px;
		    height: 40px;
		    position: absolute;
		    left: 10px;
		    z-index: 1;
		    border: 1px solid #d1d1d1;
		    font-size: 30px;
		    color: #d1d1d1;
		    border-radius: 50%;
		    text-align: center;
		    top: 50%;
		    cursor:pointer;
		}
	}


	#footer_2{
	background:#2a2a2a;
	padding-top:35px;
	margin-top:35px;
	.footer-title{
		font-family: 'SourceSansPro-Bold';
		margin-top:40px;
		@media(max-width:767px){
			text-align: center;
		}
	}
	.footer-content{
		line-height: 25px;
	    margin-top: 25px;
	    @media(max-width:767px){
	    	text-align:center;
	    }
	}
	.footer-subscrible{
		background:#323232;
		padding:40px 35px 40px 35px;
		@media(max-width:991px){
			margin-top:15px;
			padding:40px 15px 40px 15px;
		}
		.footer-title{
			margin-top:0;
		}
		.footer-content{
			margin-top:10px;
		}
	}
	.icons-social{
		margin-top:30px;
		@media(max-width:767px){
			text-align: center;
		}
	}
	.footer-group-subscrible{
		display: flex;
		margin-top:35px;
		// @media(max-width:767px){
		// 	display:block;
		// }
		input{
			font-family:FontAwesome, "SourceSansPro-Regular";
			font-style:normal;
			font-weight: normal;
			background:transparent;
			border:1px solid #d8ae57;
			height:50px;
			width:100%;
			outline: none;
			padding-left:25px;
			&:-ms-input-placeholder{
				color:white;
			}
			&::-moz-placeholder{
				color:white;
			}
			&:-moz-placeholder {
				color:white;
			}
			&::-webkit-input-placeholder{
				color:white;
			}
		}
		button{
			font-family: 'SourceSansPro-Bold';
			width:170px;
			height:50px;
			background:#d8ae57;
			border-style:none;
			outline: none;
		    flex-shrink: 0;
		    @media(max-width:767px){
		    	width:100px;
		    	// margin-top:15px;
		    }
		}
	}
	.coppy-right{
		border-style:solid;
		border-width:1px 0px 0px 0px;
		border-color:#404040;
		margin-top:50px;
		padding-top:20px;
		padding-bottom:25px;
		@media(max-width:767px){
			text-align: center;
		}
	}
}
#footer_2
{
	font-family: 'SourceSansPro-Regular';
	font-size:16px;
	color:white;
	.icons-social{
		a{
			width:30px;
			display:inline-block;
			img{
				width:100%;
			}
		}
	}
	input,button,textarea{
		border-radius:0;
	}
}

.blk-menu-fix{
	position:fixed;
	left:0;
	top:0;
	max-width:1920px;
	width:100%;
	padding-left:30px;
	padding-right:30px;
	height:81px;
	z-index:999;
}
.clor-menu-fix-12 {
    background-color: #dff0d8;
}
}