
@font-face {
  font-family: 'Arimo';
  src: url('Arimo.eot?#iefix') format('embedded-opentype'),  url('Arimo.woff') format('woff'), url('Arimo.ttf')  format('truetype'), url('Arimo.svg#Arimo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo-Bold';
  src: url('Arimo-Bold.eot?#iefix') format('embedded-opentype'),  url('Arimo-Bold.woff') format('woff'), url('Arimo-Bold.ttf')  format('truetype'), url('Arimo-Bold.svg#Arimo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo-BoldItalic';
  src: url('Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Arimo-BoldItalic.woff') format('woff'), url('Arimo-BoldItalic.ttf')  format('truetype'), url('Arimo-BoldItalic.svg#Arimo-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo-Italic';
  src: url('Arimo-Italic.eot?#iefix') format('embedded-opentype'),  url('Arimo-Italic.woff') format('woff'), url('Arimo-Italic.ttf')  format('truetype'), url('Arimo-Italic.svg#Arimo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Bold';
  src: url('Dosis-Bold.eot?#iefix') format('embedded-opentype'),  url('Dosis-Bold.woff') format('woff'), url('Dosis-Bold.ttf')  format('truetype'), url('Dosis-Bold.svg#Dosis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Light';
  src: url('Dosis-Light.eot?#iefix') format('embedded-opentype'),  url('Dosis-Light.woff') format('woff'), url('Dosis-Light.ttf')  format('truetype'), url('Dosis-Light.svg#Dosis-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Medium';
  src: url('Dosis-Medium.eot?#iefix') format('embedded-opentype'),  url('Dosis-Medium.woff') format('woff'), url('Dosis-Medium.ttf')  format('truetype'), url('Dosis-Medium.svg#Dosis-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url('Dosis-Regular.eot?#iefix') format('embedded-opentype'),  url('Dosis-Regular.woff') format('woff'), url('Dosis-Regular.ttf')  format('truetype'), url('Dosis-Regular.svg#Dosis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-SemiBold';
  src: url('Dosis-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Dosis-SemiBold.woff') format('woff'), url('Dosis-SemiBold.ttf')  format('truetype'), url('Dosis-SemiBold.svg#Dosis-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url('DroidSans.eot?#iefix') format('embedded-opentype'),  url('DroidSans.woff') format('woff'), url('DroidSans.ttf')  format('truetype'), url('DroidSans.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans-Bold';
  src: url('DroidSans-Bold.eot?#iefix') format('embedded-opentype'),  url('DroidSans-Bold.woff') format('woff'), url('DroidSans-Bold.ttf')  format('truetype'), url('DroidSans-Bold.svg#DroidSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),  url('FjallaOne-Regular.woff') format('woff'), url('FjallaOne-Regular.ttf')  format('truetype'), url('FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),  url('Lato-Black.woff') format('woff'), url('Lato-Black.ttf')  format('truetype'), url('Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('Lato-BlackItalic.woff') format('woff'), url('Lato-BlackItalic.ttf')  format('truetype'), url('Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('Lato-Bold.woff') format('woff'), url('Lato-Bold.ttf')  format('truetype'), url('Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Lato-BoldItalic.woff') format('woff'), url('Lato-BoldItalic.ttf')  format('truetype'), url('Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),  url('Lato-Light.woff') format('woff'), url('Lato-Light.ttf')  format('truetype'), url('Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('Lato-Regular.woff') format('woff'), url('Lato-Regular.ttf')  format('truetype'), url('Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Black';
  src: url('LibreFranklin-Black.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Black.woff') format('woff'), url('LibreFranklin-Black.ttf')  format('truetype'), url('LibreFranklin-Black.svg#LibreFranklin-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Italic';
  src: url('LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Italic.woff') format('woff'), url('LibreFranklin-Italic.ttf')  format('truetype'), url('LibreFranklin-Italic.svg#LibreFranklin-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Light';
  src: url('LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Light.woff') format('woff'), url('LibreFranklin-Light.ttf')  format('truetype'), url('LibreFranklin-Light.svg#LibreFranklin-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Medium';
  src: url('LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Medium.woff') format('woff'), url('LibreFranklin-Medium.ttf')  format('truetype'), url('LibreFranklin-Medium.svg#LibreFranklin-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Regular';
  src: url('LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Regular.woff') format('woff'), url('LibreFranklin-Regular.ttf')  format('truetype'), url('LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Thin';
  src: url('LibreFranklin-Thin.eot?#iefix') format('embedded-opentype'),  url('LibreFranklin-Thin.woff') format('woff'), url('LibreFranklin-Thin.ttf')  format('truetype'), url('LibreFranklin-Thin.svg#LibreFranklin-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold.ttf')  format('truetype'), url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Regular.woff') format('woff'), url('Montserrat-Regular.ttf')  format('truetype'), url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('Muli.eot?#iefix') format('embedded-opentype'),  url('Muli.woff') format('woff'), url('Muli.ttf')  format('truetype'), url('Muli.svg#Muli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Italic';
  src: url('Muli-Italic.eot?#iefix') format('embedded-opentype'),  url('Muli-Italic.woff') format('woff'), url('Muli-Italic.ttf')  format('truetype'), url('Muli-Italic.svg#Muli-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Light';
  src: url('Muli-Light.eot?#iefix') format('embedded-opentype'),  url('Muli-Light.woff') format('woff'), url('Muli-Light.ttf')  format('truetype'), url('Muli-Light.svg#Muli-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-LightItalic';
  src: url('Muli-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Muli-LightItalic.woff') format('woff'), url('Muli-LightItalic.ttf')  format('truetype'), url('Muli-LightItalic.svg#Muli-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('NotoSans.eot?#iefix') format('embedded-opentype'),  url('NotoSans.woff') format('woff'), url('NotoSans.ttf')  format('truetype'), url('NotoSans.svg#NotoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('NotoSans-Bold.eot?#iefix') format('embedded-opentype'),  url('NotoSans-Bold.woff') format('woff'), url('NotoSans-Bold.ttf')  format('truetype'), url('NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Italic';
  src: url('NotoSans-Italic.eot?#iefix') format('embedded-opentype'),  url('NotoSans-Italic.woff') format('woff'), url('NotoSans-Italic.ttf')  format('truetype'), url('NotoSans-Italic.svg#NotoSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),  url('OpenSans.woff') format('woff'), url('OpenSans.ttf')  format('truetype'), url('OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Bold.woff') format('woff'), url('OpenSans-Bold.ttf')  format('truetype'), url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Italic.woff') format('woff'), url('OpenSans-Italic.ttf')  format('truetype'), url('OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Light.woff') format('woff'), url('OpenSans-Light.ttf')  format('truetype'), url('OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('Oswald-Bold.eot?#iefix') format('embedded-opentype'),  url('Oswald-Bold.woff') format('woff'), url('Oswald-Bold.ttf')  format('truetype'), url('Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('Oswald-Light.eot?#iefix') format('embedded-opentype'),  url('Oswald-Light.woff') format('woff'), url('Oswald-Light.ttf')  format('truetype'), url('Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('Oswald-Regular.woff') format('woff'), url('Oswald-Regular.ttf')  format('truetype'), url('Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),  url('PTSans-Bold.woff') format('woff'), url('PTSans-Bold.ttf')  format('truetype'), url('PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('PTSans-Italic.eot?#iefix') format('embedded-opentype'),  url('PTSans-Italic.woff') format('woff'), url('PTSans-Italic.ttf')  format('truetype'), url('PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Narrow';
  src: url('PTSans-Narrow.eot?#iefix') format('embedded-opentype'),  url('PTSans-Narrow.woff') format('woff'), url('PTSans-Narrow.ttf')  format('truetype'), url('PTSans-Narrow.svg#PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-NarrowBold';
  src: url('PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),  url('PTSans-NarrowBold.woff') format('woff'), url('PTSans-NarrowBold.ttf')  format('truetype'), url('PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),  url('PTSans-Regular.woff') format('woff'), url('PTSans-Regular.ttf')  format('truetype'), url('PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('Raleway-Black.eot?#iefix') format('embedded-opentype'),  url('Raleway-Black.woff') format('woff'), url('Raleway-Black.ttf')  format('truetype'), url('Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('Raleway-Bold.woff') format('woff'), url('Raleway-Bold.ttf')  format('truetype'), url('Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Heavy';
  src: url('Raleway-Heavy.eot?#iefix') format('embedded-opentype'),  url('Raleway-Heavy.woff') format('woff'), url('Raleway-Heavy.ttf')  format('truetype'), url('Raleway-Heavy.svg#Raleway-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Italic';
  src: url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),  url('Raleway-Italic.woff') format('woff'), url('Raleway-Italic.ttf')  format('truetype'), url('Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),  url('Raleway-Light.woff') format('woff'), url('Raleway-Light.ttf')  format('truetype'), url('Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('Raleway-Regular.woff') format('woff'), url('Raleway-Regular.ttf')  format('truetype'), url('Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),  url('Raleway-Thin.woff') format('woff'), url('Raleway-Thin.ttf')  format('truetype'), url('Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('Roboto-Black.woff') format('woff'), url('Roboto-Black.ttf')  format('truetype'), url('Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('Roboto-Bold.woff') format('woff'), url('Roboto-Bold.ttf')  format('truetype'), url('Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Bold.woff') format('woff'), url('RobotoCondensed-Bold.ttf')  format('truetype'), url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoCondensed-Italic';
  src: url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Italic.woff') format('woff'), url('RobotoCondensed-Italic.ttf')  format('truetype'), url('RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Light.woff') format('woff'), url('RobotoCondensed-Light.ttf')  format('truetype'), url('RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),  url('RobotoCondensed-Regular.woff') format('woff'), url('RobotoCondensed-Regular.ttf')  format('truetype'), url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),  url('Roboto-Italic.woff') format('woff'), url('Roboto-Italic.ttf')  format('truetype'), url('Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype'), url('Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('Roboto-Regular.woff') format('woff'), url('Roboto-Regular.ttf')  format('truetype'), url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),  url('Roboto-Thin.woff') format('woff'), url('Roboto-Thin.ttf')  format('truetype'), url('Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-Black.woff') format('woff'), url('SourceSansPro-Black.ttf')  format('truetype'), url('SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-Bold.woff') format('woff'), url('SourceSansPro-Bold.ttf')  format('truetype'), url('SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-It';
  src: url('SourceSansPro-It.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-It.woff') format('woff'), url('SourceSansPro-It.ttf')  format('truetype'), url('SourceSansPro-It.svg#SourceSansPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-Light.woff') format('woff'), url('SourceSansPro-Light.ttf')  format('truetype'), url('SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('SourceSansPro-Regular.woff') format('woff'), url('SourceSansPro-Regular.ttf')  format('truetype'), url('SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Black';
  src: url('TitilliumWeb-Black.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-Black.woff') format('woff'), url('TitilliumWeb-Black.ttf')  format('truetype'), url('TitilliumWeb-Black.svg#TitilliumWeb-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-Bold.woff') format('woff'), url('TitilliumWeb-Bold.ttf')  format('truetype'), url('TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Italic';
  src: url('TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-Italic.woff') format('woff'), url('TitilliumWeb-Italic.ttf')  format('truetype'), url('TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-Light.woff') format('woff'), url('TitilliumWeb-Light.ttf')  format('truetype'), url('TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-Regular.woff') format('woff'), url('TitilliumWeb-Regular.ttf')  format('truetype'), url('TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu.eot?#iefix') format('embedded-opentype'),  url('Ubuntu.woff') format('woff'), url('Ubuntu.ttf')  format('truetype'), url('Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf')  format('truetype'), url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Italic.woff') format('woff'), url('Ubuntu-Italic.ttf')  format('truetype'), url('Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Light.woff') format('woff'), url('Ubuntu-Light.ttf')  format('truetype'), url('Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Medium.woff') format('woff'), url('Ubuntu-Medium.ttf')  format('truetype'), url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latha';
  src: url('Latha.eot?#iefix') format('embedded-opentype'),  url('Latha.woff') format('woff'), url('Latha.ttf')  format('truetype'), url('Latha.svg#Latha') format('svg');
  font-weight: normal;
  font-style: normal;
}
